<div class="plan-card">
  <div class="plan-card__header">
      <img class="plan-card__photo" src="/assets/medical-plan.svg" alt="medical plan" />
      <div class="plan-card__title">
        <div class="plan-card__title-plan-name">{{this.planName}}</div>
        <div class="plan-card__title-vendor-name">Vendor Name</div>
      </div>
  </div>
  <div class="plan-card__body">
    <div class="plan-card__field-amounts">
      <div class="plan-card__field-label">Deductible</div>
      <div class="plan-card__field-value">{{this.deductibleValue}}</div>
    </div>
    <div class="plan-card__field-amounts">
      <div class="plan-card__field-label">Coinsurance</div>
      <div class="plan-card__field-value">{{this.coinsuranceValue}}</div>
    </div>
    <div class="plan-card__field-amounts">
      <div class="plan-card__field-label">Plan Network</div>
      <div class="plan-card__field-value">{{this.planNetworkValue}}</div>
    </div>
  </div>
  <div class="plan-card__button-container">
    {{#if this.isAcquired}}
      <button type="button" class="plan-card__button plan-card__button_remove-plan">
        Remove Plan
      </button>
    {{else}}
      <button type="button" class="plan-card__button">
        Acquire Plan
      </button>
    {{/if}}
  </div>
</div>
