<div class="profile-summary">
  <div class="profile-summary__header">
    <div class="profile-summary__profile-logo">
      JD
    </div>
    <div class="profile-summary__title">
      <div class="profile-summary__title-plan-name">{{this.profileName}}</div>
      <div class="profile-summary__title-vendor-name">{{this.profileEmail}}</div>
    </div>
  </div>
  <img class="profile-summary__separator" src="/assets/stroke.svg" alt="------------------" />
  <div class="profile-summary__field profile-summary__field-plans">
    <div class="profile-summary__field-label">Plans</div>
    <div class="profile-summary__field-value">{{this.plansValue}}</div>
  </div>
  <div class="profile-summary__field profile-summary__field-bills-due">
    <div class="profile-summary__field-label">Bills Due</div>
    <div class="profile-summary__field-value">{{this.billsDueValue}}</div>
  </div>
  <div class="profile-summary__field profile-summary__field-retirement">
    <div class="profile-summary__field-label">401(K)</div>
    <div class="profile-summary__field-value">{{this.retirementValue}}</div>
  </div>
</div>
