<div class="menu">
  <Input id="menu__toggle" @type="checkbox" @checked={{this.isMenuOpen}}/>
  <label class="menu__btn" for="menu__toggle">
    <span></span>
  </label>

  <ul class="menu__box">
    <div class="menu__box-container">
      <div class="menu__user">
        <div class="menu__user-icon">JD</div>
        <div class="menu__user-title">
          <div class="menu__user-name">John Doe</div>
          <div class="menu__user-email">johndoe@organization.com</div>
        </div>
      </div>
      <Navbar::MenuItem @route="index.dashboard" @iconName="dashboard" @onClick={{this.onRouteChange}}>Dashboard</Navbar::MenuItem>
      <Navbar::MenuItem @route="index.insurance.shopping" @iconName="umbrella" @onClick={{this.onRouteChange}}>Insurance</Navbar::MenuItem>
      <Navbar::MenuItem @route="index.dependents" @iconName="dependents" @onClick={{this.onRouteChange}}>Dependents</Navbar::MenuItem>
      <Navbar::MenuItem @route="index.billing" @iconName="wallet" @onClick={{this.onRouteChange}}>Billing</Navbar::MenuItem>
      <Navbar::MenuItem @route="index.history" @iconName="catalog" @onClick={{this.onRouteChange}}>History</Navbar::MenuItem>
      <Navbar::MenuItem @route="index.retirement" @iconName="pie-chart" @onClick={{this.onRouteChange}}>Retirement</Navbar::MenuItem>

      <div class="menu__buttons">
        <div class="menu__button">
          <img src="/assets/icons/settings.svg">
          <div class="menu__button-title">Settings</div>
        </div>

        <div class="menu__button">
          <img src="/assets/icons/logout.svg">
          <div class="menu__button-title menu__button-title_color_red">Logout</div>
        </div>
      </div>
    </div>
  </ul>
  </div>