<progress class="progress-bar" value={{this.progressValue}} max="100" />

<div class="employee-info-container">
  <div class="employee-info-container__header">
    {{this.title}}
  </div>
  <div class="employee-info-container__body">
    {{outlet}}
  </div>
  <div class="employee-info-container__footer">
    {{#unless (eq this.title "My Details")}}
      <LinkTo @route={{this.previousRoute}} class="employee-info-container__footer-back-button">
        Back
      </LinkTo>
    {{/unless}}
    <LinkTo @route={{this.nextRoute}} class="employee-info-container__footer-next-button">
      Next
    </LinkTo>
  </div>
</div>